<h1>Editar Tarifa Hora Logistica</h1>

<%= render 'form', tarifa_hora_logistica: @tarifa_hora_logistica %>

<%= link_to 'Ver', @tarifa_hora_logistica %> |
<%= link_to 'Volver', tarifa_hora_logisticas_path %>
